.awssld__container{
  padding: 0;
  height: 220px;
}

.awssld__wrapper{
  overflow: visible !important;
}

.awssld__content{
  overflow: visible !important;
}

.awssld__controls{
  visibility: visible !important;
}
