# Archivos y carpetas de configuración
package-lock.json --no-ignore
!package.json
next-env.d.ts
!.next-i18next.config.js
!.prettierrc.json
!.eslintrc.json
.tsconfig.json
.vscode/*


# Carpetas del sistema y de construcción
node_modules/
.next/
.husky/
coverage/
build/
dist/

# Archivos y carpetas de la configuración de VSCode
# .vscode/
# .vscode\settings.json
# Archivos generados automáticamente
*.log
.env
.env.local
.env.*.local
