.bannerSlider .awssld__content{
  height: 5rem !important;
  background-color: transparent !important;
}

.bannerSlider .awssld__container{
  padding: 0;
  height: 5rem;
}

.bannerSlider .awssld__controls__arrow-right {
  height: 16px;
  opacity: 1 !important;
}

.bannerSlider .awssld__controls__arrow-left  {
  height: 16px;
  opacity: 1 !important;
}

.bannerSlider .awssld__bullets{
  bottom: -18px !important;
}

.bannerSlider .awssld__bullets button{
  width: 6px;
  height: 6px;
}

