.awssld__container{
  padding: 0;
  height: 13.75rem;
}

.awssld__wrapper{
  overflow: visible !important;
}

.awssld__content{
  overflow: visible !important;
}

.awssld__controls{
  visibility: visible !important;
}
