@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: #2e7d32;
  --primary-200: #60ad5e;
  --primary-300: #c3ffbd;
  --accent-100: #4caf50;
  --accent-200: #005100;
  --accent-230: #00510058;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #000000;
  --bg-200: #161616;
  --bg-300: #2c2c2c;
  --loading-100: #87858562;
  --card-wave: #6b6a6a;
  --success: #60ad5e;
  --warning: #ffcc80;
  --error: #e57373;
  --info: #64b5f6;
  --icon-default: #14ce81
}

body {
  background: var(--bg-100)
  url('../../public/bg-layout.png')
  repeat;
  overflow: hidden;
}
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button,
div {
  color: var(--text-100);
}

.overflow-auto {
  overflow: auto;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
  border: 1px solid #2e7d32 !important;
}

input:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
  border: 1px solid #2e7d32 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 500s ease-in-out 0s;
  border: 1px solid #2e7d32 !important;
}

input:focus {
  border: 1px solid #2e7d32 !important;
  outline: none !important;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 0.5rem;
    cursor: pointer;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #2e7d324f;
    border-radius: 10px;
    cursor: pointer;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: var(--primary-100);
  }

  .bg-account {
    background-image: url('../../public/bg-account.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-account-back {
    background-image: url('../../public/bg-account-back.webp');
    background-position: center;
    background-repeat: no-repeat;
  }

  .heightCards {
    height: 13.75rem;
  }

  .bg-debit {
    background-image: url('../../public/debit.jpg');
    background-position: bottom;
  }

  .max-w-content{
    max-width: 60rem;
  }

  .bg-gradient-primary {
    background: radial-gradient(circle, rgba(46, 125, 50, 0.5) 50%, rgba(97, 173, 94, 0) 100%);
    backdrop-filter: blur(12px);
  }

  .quickAccess{
    background: rgba(46, 125, 50, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(46, 125, 50, 0.3);
  }

  .aspect-ratio {
    aspect-ratio: 1 / 1;
  }

}

/* fonts  */

.font_12_fm_rob {
  @apply text-xs font-roboto;
}

.font_16_fm_rob {
  @apply text-base font-roboto;
}

.font_18_fm_rob {
  @apply text-lg font-roboto;
}

/* bold */

.font_8_fw_bold_fm_rob {
  @apply text-xxxs leading-xxxs font-bold font-roboto;
}

.font_10_fw_bold_fm_rob {
  @apply text-xxs leading-xxs font-bold font-roboto;
}

.font_12_fw_bold_fm_rob {
  @apply text-xs font-bold font-roboto;
}

.font_14_fw_bold_fm_rob {
  @apply text-sm font-bold font-roboto;
}

.font_16_fw_bold_fm_rob {
  @apply text-base font-bold font-roboto;
}

.font_18_fw_bold_fm_rob {
  @apply text-lg font-bold font-roboto;
}

.font_20_fw_bold_fm_rob {
  @apply text-xl font-bold font-roboto;
}

.font_24_fw_bold_fm_rob {
  @apply text-2xl font-bold font-roboto;
}

.font_30_fw_bold_fm_rob {
  @apply text-3xl font-bold font-roboto;
}

.font_36_fw_bold_fm_rob {
  @apply text-4xl font-bold font-roboto;
}

.font_30_48_fw_bold_fm_rob {
  @apply text-3xl font-bold font-roboto sm:text-5xl;
}

/* Responsives */
.font_16_18_fm_rob {
  @apply text-base sm:text-lg font-roboto;
}

.font_12_10_fw_bold_fm_rob {
  @apply text-xxs sm:text-xs font-bold font-roboto;
}

.font_12_14_fw_bold_fm_rob {
  @apply text-xs sm:text-sm font-bold font-roboto;
}

.font_14_16_fw_bold_fm_rob {
  @apply text-sm sm:text-base font-bold font-roboto;
}

.font_16_18_fw_bold_fm_rob {
  @apply text-base sm:text-lg font-bold font-roboto;
}

/* subtitle */
.font_24_30_fw_bold_fm_rob {
  @apply text-2xl font-bold font-roboto sm:text-3xl;
}

/* text primary */
.font_16_fw_bold_fm_rob_text-200 {
  @apply text-base font-bold font-roboto text-primary-200;
}

.font_18_fw_bold_fm_rob_text-200 {
  @apply text-lg font-bold font-roboto text-primary-200;
}

.font_20_fw_bold_fm_rob_text-200 {
  @apply text-xl font-bold font-roboto text-primary-200;
}

/* Responsives - text-primary*/
/* descriptions */
.font_16-20_fw_bold_fm_rob_text-200 {
  @apply text-base font-bold font-roboto text-primary-200 sm:text-xl;
}

.font_20-30_fw_bold_fm_rob_text-200 {
  @apply text-xl font-bold font-roboto text-primary-200 sm:text-3xl;
}

/* title */
.font_30_36_fw_bold_fm_rob_text-200 {
  @apply text-3xl font-bold font-roboto text-primary-200 sm:text-4xl;
}

.font_30_48_fw_bold_fm_rob_text-200 {
  @apply text-3xl font-bold font-roboto text-primary-200 sm:text-5xl;
}

/* Responsives - text-100*/
/* subtitle */
.font_20_24_fw_bold_fm_rob_text-100 {
  @apply text-xl font-bold font-roboto text-primary-100 sm:text-2xl;
}

.font_18_fw_bold_fm_rob_text-100 {
  @apply text-lg font-bold font-roboto text-primary-100;
}
