@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: #2e7d32;
  --primary-200: #60ad5e;
  --primary-300: #c3ffbd;
  --accent-100: #4caf50;
  --accent-200: #005100;
  --accent-230: #00510058;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #000000;
  --bg-200: #161616;
  --bg-300: #2c2c2c;
}

body {
  background: var(--bg-100)
  url('../../public/bg-layout.png')
  repeat;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button,
div {
  color: var(--text-100);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
